<footer class="footer">
  {% for item in site.data.settings.social %}
    {% if item.icon == 'researchgate' or item.icon == 'google-scholar' %}
      <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="ai ai-{{ item.icon }}" aria-hidden="true"></i></a>
    {% else %}
      {% if item.icon == 'envelope' or item.icon == 'dove' %}
        <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa-solid fa-{{ item.icon }}" aria-hidden="true"></i></a>
      {% else %}
        <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa-brands fa-{{ item.icon }}" aria-hidden="true"></i></a>
      {% endif %}
    {% endif %}
  {% endfor %}
  <div class="post-date"><a href="{{ site.github.url }}/">{{ site.title }} | {{ site.description }} by {{ site.author }}</a></div>
</footer>
