---
layout: page
title: Blog
---

{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% endif %}

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

        <a href="{{ site.baseurl }}{{ post.url }}">
			<h2>{{ post.title }}</h2>
		</a>

      <div class="meta">
        <span class="post-date">
          {{ site.data.settings.post_date_prefix }}
          {% assign d = post.date | date: "%-d"  %}
          {{ post.date | date: "%B" }}
          {% case d %}
            {% when '1' or '21' or '31' %}{{ d }}st
            {% when '2' or '22' %}{{ d }}nd
            {% when '3' or '23' %}{{ d }}rd
            {% else %}{{ d }}th{% endcase %},
          {{ post.date | date: "%Y" }}
          by
          {% if post.author %}
            {{ post.author }}
          {% else %}
            {{ site.author }}
          {% endif %}
        </span>

        <ul class="tag">
          {% for tag in post.tags %}
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
              {{ tag }}
            </a>
          </li>
          {% endfor %}
        </ul>

      </div>

	  <div class="teaser">
		<a href="{{ site.baseurl }}{{ post.url }}">
		  {% if post.image.teaser %}
			<img src="{{ site.baseurl }}{{ post.image.teaser }}" alt="teaser" itemprop="image">
		  {% else %}
		  {% endif %}
		</a>
	  </div>

      <div class="entry">
        {{ post.excerpt }}
      </div>
      <!-- </a> -->
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
